In [1]:
import pandas as pd
fruit = ['apple','mango', 'banana']

In [2]:
Weekends = ['Monday','Tuesday','Wednesday']

In [3]:
pd.Series(fruit,Weekends)

Monday        apple
Tuesday       mango
Wednesday    banana
dtype: object

In [4]:
pd.Series(data=fruit, index=Weekends)

Monday        apple
Tuesday       mango
Wednesday    banana
dtype: object

In [5]:
pd.Series(index=fruit, data=Weekends)

apple        Monday
mango       Tuesday
banana    Wednesday
dtype: object

In [6]:
pd.Series(fruit, index=Weekends)

Monday        apple
Tuesday       mango
Wednesday    banana
dtype: object

In [7]:
pd.Series(Weekends,fruit)

apple        Monday
mango       Tuesday
banana    Wednesday
dtype: object

In [8]:
pd.read_csv('pokemon.csv')

        Pokemon      Type
0     Bulbasaur     Grass
1       Ivysaur     Grass
2      Venusaur     Grass
3    Charmander      Fire
4    Charmeleon      Fire
5     Charizard      Fire
6      Squirtle     Water
7     Wartortle     Water
8     Blastoise     Water
9      Caterpie       Bug
10      Metapod       Bug
11   Butterfree       Bug
12       Weedle       Bug
13       Kakuna       Bug
14     Beedrill       Bug
15       Pidgey    Normal
16    Pidgeotto    Normal
17      Pidgeot    Normal
18      Rattata    Normal
19     Raticate    Normal
20      Spearow    Normal
21       Fearow    Normal
22        Ekans    Poison
23        Arbok    Poison
24      Pikachu  Electric
25       Raichu  Electric
26    Sandshrew    Ground
27    Sandslash    Ground
28      Nidoran    Poison
29     Nidorina    Poison
..          ...       ...
691   Clauncher     Water
692   Clawitzer     Water
693  Helioptile  Electric
694   Heliolisk  Electric
695      Tyrunt      Rock
696   Tyrantrum      Rock
697      Amaura      Rock
698     Aurorus      Rock
699     Sylveon     Fairy
700    Hawlucha  Fighting
701     Dedenne  Electric
702     Carbink      Rock
703       Goomy    Dragon
704     Sliggoo    Dragon
705      Goodra    Dragon
706      Klefki     Steel
707    Phantump     Ghost
708   Trevenant     Ghost
709   Pumpkaboo     Ghost
710   Gourgeist     Ghost
711    Bergmite       Ice
712     Avalugg       Ice
713      Noibat    Flying
714     Noivern    Flying
715     Xerneas     Fairy
716     Yveltal      Dark
717     Zygarde    Dragon
718     Diancie      Rock
719       Hoopa   Psychic
720   Volcanion      Fire

[721 rows x 2 columns]

In [9]:
pd.read_csv('pokemon.csv',usecols=['Pokemon'])

        Pokemon
0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
5     Charizard
6      Squirtle
7     Wartortle
8     Blastoise
9      Caterpie
10      Metapod
11   Butterfree
12       Weedle
13       Kakuna
14     Beedrill
15       Pidgey
16    Pidgeotto
17      Pidgeot
18      Rattata
19     Raticate
20      Spearow
21       Fearow
22        Ekans
23        Arbok
24      Pikachu
25       Raichu
26    Sandshrew
27    Sandslash
28      Nidoran
29     Nidorina
..          ...
691   Clauncher
692   Clawitzer
693  Helioptile
694   Heliolisk
695      Tyrunt
696   Tyrantrum
697      Amaura
698     Aurorus
699     Sylveon
700    Hawlucha
701     Dedenne
702     Carbink
703       Goomy
704     Sliggoo
705      Goodra
706      Klefki
707    Phantump
708   Trevenant
709   Pumpkaboo
710   Gourgeist
711    Bergmite
712     Avalugg
713      Noibat
714     Noivern
715     Xerneas
716     Yveltal
717     Zygarde
718     Diancie
719       Hoopa
720   Volcanion

[721 rows x 1 columns]

In [10]:
pd.read_csv('pokemon.csv',usecols=['Pokemon'],squeeze=False)

        Pokemon
0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
5     Charizard
6      Squirtle
7     Wartortle
8     Blastoise
9      Caterpie
10      Metapod
11   Butterfree
12       Weedle
13       Kakuna
14     Beedrill
15       Pidgey
16    Pidgeotto
17      Pidgeot
18      Rattata
19     Raticate
20      Spearow
21       Fearow
22        Ekans
23        Arbok
24      Pikachu
25       Raichu
26    Sandshrew
27    Sandslash
28      Nidoran
29     Nidorina
..          ...
691   Clauncher
692   Clawitzer
693  Helioptile
694   Heliolisk
695      Tyrunt
696   Tyrantrum
697      Amaura
698     Aurorus
699     Sylveon
700    Hawlucha
701     Dedenne
702     Carbink
703       Goomy
704     Sliggoo
705      Goodra
706      Klefki
707    Phantump
708   Trevenant
709   Pumpkaboo
710   Gourgeist
711    Bergmite
712     Avalugg
713      Noibat
714     Noivern
715     Xerneas
716     Yveltal
717     Zygarde
718     Diancie
719       Hoopa
720   Volcanion

[721 rows x 1 columns]

In [11]:
pd.read_csv('google_stock_price.csv',squeeze=True)

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
5        53.90
6        53.02
7        50.95
8        51.13
9        50.07
10       50.70
11       49.95
12       50.74
13       51.10
14       51.10
15       52.61
16       53.70
17       55.69
18       55.94
19       56.93
20       58.69
21       59.62
22       58.86
23       59.13
24       60.35
25       59.86
26       59.07
27       63.37
28       65.47
29       64.74
         ...
2982    675.22
2983    668.26
2984    680.04
2985    684.11
2986    692.10
2987    699.21
2988    694.49
2989    697.77
2990    695.36
2991    705.63
2992    715.09
2993    720.64
2994    716.98
2995    720.95
2996    719.85
2997    733.78
2998    736.96
2999    741.19
3000    738.63
3001    742.74
3002    739.77
3003    738.42
3004    741.77
3005    745.91
3006    768.79
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [12]:
pokemon = pd.read_csv("pokemon.csv", usecols=["Pokemon"],squeeze=True)

In [14]:
pokemon.head(5)

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [15]:
len(pokemon)

721

In [16]:
type(pokemon)

pandas.core.series.Series

In [17]:
pokemon

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
5       Charizard
6        Squirtle
7       Wartortle
8       Blastoise
9        Caterpie
10        Metapod
11     Butterfree
12         Weedle
13         Kakuna
14       Beedrill
15         Pidgey
16      Pidgeotto
17        Pidgeot
18        Rattata
19       Raticate
20        Spearow
21         Fearow
22          Ekans
23          Arbok
24        Pikachu
25         Raichu
26      Sandshrew
27      Sandslash
28        Nidoran
29       Nidorina
          ...
691     Clauncher
692     Clawitzer
693    Helioptile
694     Heliolisk
695        Tyrunt
696     Tyrantrum
697        Amaura
698       Aurorus
699       Sylveon
700      Hawlucha
701       Dedenne
702       Carbink
703         Goomy
704       Sliggoo
705        Goodra
706        Klefki
707      Phantump
708     Trevenant
709     Pumpkaboo
710     Gourgeist
711      Bergmite
712       Avalugg
713        Noibat
714       Noivern
715       Xerneas
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [18]:
pd.read_csv('google_stock_price.csv')

      Stock Price
0           50.12
1           54.10
2           54.65
3           52.38
4           52.95
5           53.90
6           53.02
7           50.95
8           51.13
9           50.07
10          50.70
11          49.95
12          50.74
13          51.10
14          51.10
15          52.61
16          53.70
17          55.69
18          55.94
19          56.93
20          58.69
21          59.62
22          58.86
23          59.13
24          60.35
25          59.86
26          59.07
27          63.37
28          65.47
29          64.74
...           ...
2982       675.22
2983       668.26
2984       680.04
2985       684.11
2986       692.10
2987       699.21
2988       694.49
2989       697.77
2990       695.36
2991       705.63
2992       715.09
2993       720.64
2994       716.98
2995       720.95
2996       719.85
2997       733.78
2998       736.96
2999       741.19
3000       738.63
3001       742.74
3002       739.77
3003       738.42
3004       741.77
3005       745.91
3006       768.79
3007       772.88
3008       771.07
3009       773.18
3010       771.61
3011       782.22

[3012 rows x 1 columns]

In [19]:
google=pd.read_csv('google_stock_price.csv', squeeze=True)

In [20]:
type (google)

pandas.core.series.Series

In [21]:
sorted(google)

[49.95,
 50.07,
 50.12,
 50.7,
 50.74,
 50.95,
 51.1,
 51.1,
 51.13,
 52.38,
 52.61,
 52.95,
 53.02,
 53.7,
 53.9,
 54.1,
 54.65,
 55.69,
 55.94,
 56.93,
 58.69,
 58.86,
 59.07,
 59.13,
 59.62,
 59.86,
 60.35,
 63.37,
 64.74,
 65.47,
 66.22,
 67.46,
 67.56,
 68.47,
 68.63,
 68.8,
 69.12,
 69.36,
 70.17,
 70.38,
 70.93,
 71.98,
 73.9,
 74.51,
 74.62,
 82.47,
 83.68,
 83.69,
 83.85,
 84.27,
 84.59,
 84.62,
 84.91,
 85.14,
 85.63,
 85.74,
 86.13,
 86.16,
 86.19,
 86.19,
 86.63,
 87.29,
 87.41,
 87.71,
 88.06,
 88.15,
 88.47,
 88.81,
 89.21,
 89.22,
 89.26,
 89.4,
 89.54,
 89.56,
 89.61,
 89.61,
 89.7,
 89.8,
 89.89,
 89.9,
 89.93,
 89.93,
 89.95,
 90.11,
 90.13,
 90.16,
 90.27,
 90.35,
 90.43,
 90.58,
 90.62,
 90.81,
 90.9,
 90.91,
 91.42,
 91.78,
 92.26,
 92.34,
 92.41,
 92.42,
 92.5,
 92.51,
 92.55,
 92.84,
 92.86,
 92.89,
 92.94,
 93.06,
 93.39,
 93.41,
 93.61,
 93.61,
 93.86,
 93.9,
 93.9,
 93.95,
 94.05,
 94.18,
 94.19,
 94.31,
 94.35,
 94.52,
 94.53,
 95.07,
 95.22,
 95.59,
 95.6,
 95.63,
 95.69,
 95.74,
 95.85,
 95.86,
 95.93,
 96.28,
 96.3,
 96.35,
 96.37,
 96.4,
 96.52,
 96.55,
 96.66,
 96.67,
 96.78,
 96.83,
 96.86,
 96.88,
 96.88,
 97.15,
 97.34,
 97.43,
 97.52,
 97.57,
 97.59,
 97.71,
 97.92,
 97.92,
 98.55,
 98.7,
 98.85,
 98.88,
 98.95,
 99.11,
 99.22,
 99.89,
 101.25,
 101.85,
 102.01,
 102.08,
 102.88,
 105.32,
 107.8,
 109.27,
 109.62,
 109.78,
 109.89,
 111.03,
 111.65,
 112.9,
 112.98,
 113.38,
 113.79,
 113.9,
 114.14,
 114.25,
 114.51,
 115.41,
 115.53,
 116.45,
 119.46,
 119.47,
 120.68,
 127.6,
 127.87,
 128.59,
 129.47,
 129.65,
 130.27,
 131.08,
 132.86,
 132.87,
 136.87,
 137.03,
 137.26,
 137.42,
 138.5,
 138.58,
 139.04,
 139.58,
 139.64,
 139.65,
 139.86,
 139.86,
 139.95,
 139.99,
 140.0,
 140.88,
 141.11,
 141.14,
 141.15,
 141.23,
 141.23,
 141.65,
 141.85,
 141.86,
 141.88,
 142.41,
 142.68,
 142.7,
 142.86,
 142.98,
 143.01,
 143.21,
 143.41,
 143.49,
 143.74,
 143.78,
 143.81,
 143.86,
 144.08,
 144.08,
 144.51,
 144.71,
 144.72,
 145.3,
 145.32,
 145.35,
 145.48,
 145.48,
 145.62,
 145.64,
 145.66,
 145.75,
 145.9,
 146.03,
 146.21,
 146.33,
 146.41,
 146.53,
 146.6,
 146.93,
 147.29,
 147.55,
 147.62,
 147.71,
 147.78,
 147.9,
 147.92,
 147.97,
 148.32,
 148.41,
 148.48,
 148.5,
 148.56,
 148.56,
 148.57,
 148.72,
 148.86,
 149.28,
 149.35,
 149.4,
 149.45,
 149.62,
 149.69,
 149.91,
 149.95,
 149.96,
 150.03,
 150.29,
 150.33,
 150.33,
 150.44,
 150.85,
 150.9,
 151.05,
 151.16,
 151.32,
 151.35,
 151.39,
 151.4,
 151.45,
 151.49,
 151.74,
 151.9,
 152.35,
 152.67,
 152.83,
 152.85,
 152.9,
 153.1,
 153.67,
 153.8,
 153.93,
 154.13,
 154.2,
 154.26,
 154.66,
 154.72,
 154.8,
 154.85,
 154.93,
 154.98,
 155.17,
 155.18,
 155.2,
 155.34,
 155.53,
 155.57,
 155.68,
 155.79,
 155.84,
 155.88,
 156.19,
 156.22,
 156.34,
 156.81,
 156.81,
 156.98,
 157.0,
 157.38,
 157.46,
 157.52,
 157.72,
 158.07,
 158.8,
 159.18,
 159.23,
 159.3,
 159.69,
 160.5,
 160.84,
 161.6,
 161.77,
 162.05,
 162.19,
 162.43,
 162.48,
 162.58,
 163.42,
 163.86,
 164.33,
 164.58,
 164.81,
 164.86,
 164.91,
 165.4,
 165.44,
 165.57,
 165.83,
 166.38,
 166.86,
 167.5,
 168.36,
 168.42,
 168.58,
 168.83,
 168.89,
 169.1,
 169.22,
 169.42,
 169.48,
 169.73,
 169.78,
 169.79,
 169.94,
 170.05,
 170.11,
 170.65,
 170.77,
 170.95,
 171.02,
 171.15,
 171.16,
 171.17,
 171.33,
 171.33,
 171.49,
 171.49,
 171.86,
 172.08,
 172.55,
 172.68,
 172.83,
 173.05,
 173.07,
 173.28,
 173.41,
 173.68,
 173.86,
 173.92,
 174.13,
 174.15,
 174.16,
 175.4,
 175.98,
 176.33,
 176.35,
 176.38,
 176.47,
 176.68,
 176.76,
 176.87,
 177.54,
 177.66,
 178.66,
 178.82,
 178.84,
 178.91,
 179.08,
 179.15,
 179.21,
 179.5,
 179.67,
 180.82,
 181.07,
 181.12,
 181.13,
 181.17,
 181.19,
 181.34,
 182.04,
 182.22,
 182.56,
 182.72,
 183.05,
 183.11,
 183.29,
 183.43,
 183.78,
 183.87,
 183.94,
 184.07,
 184.19,
 184.19,
 184.27,
 184.36,
 184.53,
 184.66,
 184.71,
 184.82,
 185.29,
 185.31,
 185.42,
 185.45,
 185.46,
 185.72,
 185.78,
 185.88,
 186.06,
 186.08,
 186.44,
 186.53,
 186.68,
 186.74,
 186.88,
 186.91,
 187.03,
 187.06,
 187.51,
 187.57,
 187.6,
 187.91,
 188.04,
 188.28,
 188.41,
 188.46,
 188.51,
 188.74,
 188.79,
 188.85,
 188.87,
 188.9,
 188.96,
 189.06,
 189.08,
 189.11,
 189.2,
 189.29,
 189.39,
 189.46,
 189.47,
 189.5,
 189.53,
 189.56,
 189.65,
 189.88,
 190.18,
 190.28,
 190.29,
 190.31,
 190.31,
 190.32,
 190.43,
 190.48,
 190.54,
 190.58,
 190.59,
 191.01,
 191.12,
 191.3,
 191.49,
 191.66,
 191.74,
 191.85,
 191.99,
 192.0,
 192.15,
 192.36,
 192.56,
 192.71,
 192.78,
 192.78,
 193.06,
 193.07,
 193.09,
 193.11,
 193.26,
 193.31,
 193.37,
 193.39,
 193.56,
 193.67,
 193.87,
 193.88,
 194.03,
 194.18,
 194.49,
 194.55,
 194.58,
 194.66,
 194.76,
 194.8,
 194.8,
 194.8,
 194.86,
 194.99,
 195.0,
 195.02,
 195.05,
 195.15,
 195.25,
 195.3,
 195.35,
 195.54,
 195.75,
 195.92,
 196.2,
 196.45,
 196.55,
 196.65,
 196.89,
 196.95,
 197.18,
 197.19,
 197.2,
 197.29,
 197.32,
 197.79,
 197.82,
 198.05,
 198.11,
 198.12,
 198.22,
 198.29,
 198.3,
 198.39,
 198.88,
 199.24,
 199.25,
 199.3,
 199.31,
 199.53,
 199.78,
 199.9,
 200.06,
 200.52,
 200.69,
 200.75,
 200.79,
 200.86,
 200.88,
 200.96,
 201.04,
 201.26,
 201.29,
 201.29,
 201.32,
 201.52,
 201.53,
 201.55,
 201.57,
 201.59,
 201.69,
 201.7,
 201.79,
 201.79,
 201.82,
 201.91,
 201.91,
 201.92,
 201.97,
 201.98,
 202.07,
 202.23,
 202.25,
 202.58,
 202.64,
 202.72,
 202.85,
 202.88,
 203.08,
 203.21,
 203.22,
 203.23,
 203.46,
 203.47,
 203.74,
 203.79,
 203.79,
 204.04,
 204.2,
 204.21,
 204.27,
 204.4,
 204.44,
 204.48,
 204.6,
 204.63,
 204.74,
 204.99,
 204.99,
 205.04,
 205.12,
 205.38,
 205.65,
 205.7,
 206.1,
 206.6,
 206.82,
 206.84,
 206.87,
 206.99,
 207.04,
 207.14,
 207.22,
 207.29,
 207.37,
 207.64,
 207.68,
 207.79,
 207.98,
 208.03,
 208.18,
 208.41,
 208.42,
 208.54,
 208.64,
 208.7,
 208.76,
 208.89,
 209.12,
 209.27,
 209.29,
 209.44,
 209.46,
 209.73,
 209.76,
 209.8,
 209.83,
 209.86,
 210.01,
 210.04,
 210.11,
 210.52,
 210.58,
 210.66,
 211.05,
 211.22,
 211.38,
 211.39,
 211.53,
 211.86,
 211.94,
 212.07,
 212.09,
 212.11,
 212.13,
 212.21,
 212.45,
 212.77,
 212.82,
 212.95,
 213.04,
 213.07,
 213.11,
 213.13,
 213.2,
 213.37,
 213.44,
 213.51,
 213.54,
 213.63,
 213.74,
 213.99,
 214.1,
 214.29,
 214.29,
 214.42,
 214.66,
 214.85,
 214.86,
 214.87,
 214.91,
 215.25,
 215.3,
 215.61,
 215.78,
 215.8,
 216.08,
 216.11,
 216.13,
 216.28,
 216.46,
 216.53,
 216.56,
 216.66,
 216.71,
 216.92,
 217.34,
 217.4,
 217.59,
 217.82,
 217.9,
 218.0,
 218.06,
 218.33,
 218.45,
 218.61,
 218.74,
 218.82,
 218.87,
 219.12,
 219.17,
 219.32,
 219.36,
 219.53,
 219.58,
 219.7,
 219.71,
 219.87,
 219.92,
 220.01,
 220.03,
 220.2,
 220.25,
 221.08,
 221.24,
 221.28,
 221.29,
 221.29,
 221.3,
 221.76,
 221.82,
 221.9,
 221.94,
 222.08,
 222.18,
 222.22,
 222.23,
 222.25,
 222.4,
 222.42,
 222.42,
 222.6,
 222.87,
 223.14,
 223.2,
 223.39,
 223.63,
 223.78,
 223.89,
 224.16,
 224.35,
 224.5,
 224.55,
 224.78,
 224.87,
 224.9,
 224.95,
 225.16,
 225.26,
 225.34,
 225.39,
 225.47,
 225.6,
 225.88,
 226.12,
 226.25,
 226.28,
 226.64,
 226.74,
 226.9,
 227.08,
 227.13,
 227.15,
 227.29,
 227.33,
 227.56,
 227.59,
 227.65,
 227.87,
 228.05,
 228.05,
 228.08,
 228.28,
 228.32,
 228.5,
 228.53,
 228.54,
 228.55,
 228.77,
 228.85,
 228.87,
 228.92,
 229.04,
 229.06,
 229.08,
 229.19,
 229.32,
 229.57,
 229.61,
 229.77,
 229.94,
 229.97,
 230.01,
 230.05,
 230.23,
 230.42,
 230.5,
 230.5,
 230.6,
 230.66,
 230.68,
 230.71,
 230.71,
 230.78,
 230.79,
 230.91,
 231.05,
 231.17,
 231.22,
 231.27,
 231.36,
 231.41,
 231.58,
 231.58,
 231.75,
 231.8,
 231.86,
 231.86,
 231.97,
 231.97,
 232.03,
 232.14,
 232.23,
 232.27,
 232.39,
 232.39,
 232.6,
 232.62,
 232.62,
 232.66,
 232.73,
 232.8,
 232.86,
 232.89,
 232.91,
 233.02,
 233.14,
 233.17,
 233.22,
 233.32,
 233.35,
 233.4,
 233.46,
 233.51,
 233.52,
 233.56,
 233.67,
 233.7,
 233.75,
 233.77,
 233.78,
 233.87,
 234.06,
 234.08,
 234.13,
 234.17,
 234.27,
 234.3,
 234.39,
 234.65,
 234.72,
 234.74,
 234.77,
 234.91,
 234.92,
 235.05,
 235.06,
 235.07,
 235.23,
 235.24,
 235.27,
 235.28,
 235.31,
 235.32,
 235.35,
 235.45,
 235.45,
 235.5,
 235.52,
 235.58,
 235.59,
 235.66,
 235.79,
 235.8,
 235.81,
 235.83,
 236.05,
 236.06,
 236.07,
 236.08,
 236.1,
 236.16,
 236.19,
 236.38,
 236.42,
 236.54,
 236.64,
 236.65,
 236.75,
 236.77,
 236.84,
 236.9,
 236.93,
 237.2,
 237.26,
 237.27,
 237.31,
 237.32,
 237.36,
 237.46,
 237.5,
 237.57,
 237.68,
 237.69,
 237.69,
 237.69,
 237.77,
 237.83,
 237.85,
 237.96,
 238.05,
 238.17,
 238.24,
 238.3,
 238.32,
 238.32,
 238.34,
 238.51,
 238.53,
 238.53,
 238.76,
 239.26,
 239.27,
 239.29,
 239.3,
 239.32,
 239.69,
 239.87,
 239.91,
 ...]

In [22]:
sorted(pokemon['Pokemon'])

KeyError: 'Pokemon'

In [23]:
pokemon = pd.read_csv('pokemon.csv')

In [24]:
list(google)

[50.12,
 54.1,
 54.65,
 52.38,
 52.95,
 53.9,
 53.02,
 50.95,
 51.13,
 50.07,
 50.7,
 49.95,
 50.74,
 51.1,
 51.1,
 52.61,
 53.7,
 55.69,
 55.94,
 56.93,
 58.69,
 59.62,
 58.86,
 59.13,
 60.35,
 59.86,
 59.07,
 63.37,
 65.47,
 64.74,
 66.22,
 67.46,
 69.12,
 68.47,
 69.36,
 68.8,
 67.56,
 68.63,
 70.38,
 70.93,
 71.98,
 74.51,
 73.9,
 70.17,
 74.62,
 86.13,
 93.61,
 90.81,
 92.89,
 96.55,
 95.22,
 97.92,
 97.34,
 95.74,
 92.26,
 84.59,
 86.19,
 84.27,
 83.85,
 91.42,
 90.91,
 92.34,
 86.19,
 86.16,
 83.69,
 84.62,
 82.47,
 83.68,
 87.29,
 89.61,
 90.43,
 90.9,
 89.89,
 89.61,
 90.11,
 88.06,
 85.63,
 84.91,
 86.63,
 85.74,
 85.14,
 89.26,
 89.8,
 88.15,
 89.95,
 92.42,
 91.78,
 93.06,
 93.86,
 95.86,
 96.28,
 96.35,
 98.7,
 96.3,
 101.25,
 97.15,
 96.66,
 94.18,
 96.83,
 97.43,
 96.67,
 97.59,
 97.57,
 99.89,
 101.85,
 98.55,
 96.86,
 94.05,
 90.27,
 88.47,
 94.53,
 93.95,
 95.07,
 97.71,
 95.85,
 102.88,
 105.32,
 102.08,
 97.92,
 99.22,
 95.69,
 93.9,
 93.61,
 96.4,
 97.52,
 99.11,
 98.85,
 98.88,
 95.59,
 96.88,
 94.35,
 92.84,
 93.9,
 92.94,
 92.5,
 93.41,
 92.86,
 94.31,
 92.51,
 90.58,
 89.9,
 88.81,
 87.41,
 89.22,
 87.71,
 89.56,
 89.93,
 90.35,
 89.21,
 89.4,
 89.54,
 90.62,
 89.7,
 90.13,
 90.16,
 89.93,
 92.55,
 94.19,
 94.52,
 96.78,
 95.93,
 96.52,
 96.88,
 96.37,
 95.63,
 92.41,
 93.39,
 95.6,
 98.95,
 102.01,
 107.8,
 111.65,
 109.27,
 109.78,
 109.62,
 109.89,
 111.03,
 112.98,
 114.14,
 113.38,
 113.9,
 112.9,
 113.79,
 115.53,
 114.25,
 114.51,
 115.41,
 116.45,
 119.46,
 119.47,
 120.68,
 127.6,
 127.87,
 130.27,
 129.47,
 132.87,
 138.5,
 143.86,
 143.81,
 139.99,
 145.32,
 146.41,
 139.64,
 143.01,
 141.11,
 141.23,
 139.04,
 137.26,
 138.58,
 140.0,
 143.21,
 143.78,
 144.51,
 144.71,
 148.48,
 151.9,
 150.85,
 146.21,
 146.93,
 145.48,
 147.71,
 145.62,
 147.62,
 147.97,
 146.53,
 145.75,
 149.28,
 150.29,
 150.44,
 149.62,
 154.8,
 155.84,
 156.81,
 151.05,
 147.78,
 147.9,
 148.32,
 146.6,
 143.74,
 145.66,
 149.45,
 148.5,
 148.72,
 146.03,
 145.48,
 145.64,
 142.7,
 141.88,
 144.72,
 141.86,
 142.68,
 142.41,
 139.86,
 139.86,
 136.87,
 139.65,
 141.14,
 141.15,
 141.65,
 144.08,
 143.49,
 142.86,
 142.98,
 144.08,
 143.41,
 147.29,
 147.55,
 149.4,
 154.72,
 155.68,
 151.35,
 151.16,
 149.95,
 151.74,
 153.8,
 155.79,
 155.53,
 157.52,
 156.98,
 156.81,
 152.85,
 154.66,
 158.07,
 159.18,
 155.34,
 155.2,
 156.22,
 156.34,
 155.17,
 152.9,
 150.33,
 148.57,
 147.92,
 152.35,
 151.49,
 154.2,
 151.45,
 169.78,
 174.15,
 173.28,
 177.54,
 176.35,
 178.91,
 185.88,
 189.5,
 189.65,
 192.78,
 195.02,
 197.32,
 194.76,
 189.39,
 195.35,
 195.0,
 198.29,
 196.2,
 198.88,
 201.52,
 199.9,
 204.48,
 208.03,
 211.22,
 214.1,
 211.53,
 201.57,
 202.25,
 206.84,
 208.64,
 202.72,
 202.07,
 201.91,
 205.12,
 204.4,
 206.1,
 208.54,
 209.27,
 211.05,
 214.86,
 212.09,
 214.66,
 212.95,
 215.8,
 215.25,
 212.11,
 213.13,
 209.86,
 207.22,
 217.4,
 222.4,
 225.39,
 232.6,
 233.22,
 234.65,
 235.58,
 231.58,
 232.89,
 233.32,
 222.23,
 218.0,
 199.53,
 213.54,
 221.29,
 216.28,
 216.92,
 216.53,
 213.2,
 216.11,
 200.69,
 197.82,
 190.59,
 192.36,
 183.78,
 184.36,
 179.21,
 181.12,
 172.68,
 171.49,
 171.02,
 183.05,
 184.19,
 183.11,
 182.56,
 188.85,
 188.51,
 194.99,
 181.13,
 182.22,
 188.04,
 188.9,
 183.87,
 182.04,
 176.76,
 171.33,
 168.58,
 168.36,
 175.4,
 172.08,
 169.22,
 169.73,
 173.92,
 169.79,
 169.94,
 170.77,
 182.72,
 184.66,
 188.41,
 197.29,
 194.03,
 194.8,
 194.66,
 201.97,
 203.79,
 205.38,
 202.88,
 207.98,
 204.63,
 204.27,
 200.88,
 203.21,
 201.92,
 205.04,
 207.29,
 218.33,
 220.03,
 213.37,
 212.77,
 209.8,
 208.76,
 199.25,
 197.2,
 196.89,
 197.18,
 196.95,
 197.19,
 204.2,
 201.29,
 193.31,
 186.88,
 187.91,
 185.46,
 187.06,
 185.31,
 184.82,
 185.29,
 187.6,
 190.43,
 191.3,
 190.48,
 185.78,
 185.72,
 191.12,
 189.53,
 187.03,
 194.8,
 193.06,
 196.45,
 193.09,
 190.58,
 193.07,
 192.0,
 195.3,
 195.15,
 193.88,
 193.39,
 200.86,
 199.78,
 202.23,
 201.91,
 200.96,
 202.85,
 208.7,
 209.46,
 211.39,
 210.52,
 211.38,
 210.01,
 208.89,
 212.07,
 208.42,
 204.21,
 201.55,
 203.74,
 201.32,
 199.3,
 193.37,
 194.86,
 195.25,
 194.49,
 192.56,
 191.01,
 193.87,
 193.11,
 187.57,
 183.43,
 187.51,
 186.74,
 188.79,
 190.31,
 188.28,
 186.91,
 184.07,
 184.53,
 190.29,
 193.67,
 192.71,
 191.49,
 188.46,
 188.96,
 186.53,
 186.68,
 186.44,
 190.28,
 189.29,
 190.18,
 189.08,
 189.11,
 191.99,
 189.88,
 189.06,
 188.74,
 191.85,
 195.75,
 203.08,
 201.79,
 204.74,
 207.14,
 201.7,
 198.3,
 203.22,
 201.69,
 201.79,
 203.23,
 201.26,
 201.59,
 200.75,
 200.52,
 201.82,
 207.64,
 205.7,
 210.04,
 214.29,
 213.11,
 213.04,
 213.51,
 213.44,
 210.66,
 210.11,
 209.44,
 212.82,
 229.61,
 240.15,
 236.42,
 243.06,
 242.31,
 237.36,
 238.05,
 237.96,
 233.52,
 234.72,
 235.66,
 238.24,
 236.05,
 237.26,
 236.08,
 236.54,
 240.27,
 244.41,
 245.72,
 247.7,
 249.15,
 247.28,
 254.57,
 253.75,
 252.2,
 242.13,
 244.51,
 242.08,
 242.16,
 240.16,
 242.18,
 243.26,
 244.11,
 241.08,
 241.81,
 241.72,
 240.65,
 239.26,
 240.82,
 239.91,
 231.17,
 234.08,
 231.22,
 227.87,
 227.56,
 228.54,
 233.78,
 231.05,
 230.01,
 233.56,
 241.39,
 243.35,
 241.55,
 242.51,
 244.49,
 249.61,
 252.25,
 251.89,
 248.39,
 243.67,
 244.63,
 240.18,
 239.29,
 249.28,
 243.8,
 247.67,
 245.99,
 246.91,
 250.5,
 240.63,
 240.51,
 233.35,
 235.5,
 234.77,
 235.28,
 230.71,
 228.92,
 229.32,
 232.73,
 230.5,
 234.74,
 235.81,
 237.69,
 237.69,
 235.07,
 232.23,
 224.16,
 224.5,
 223.89,
 219.12,
 220.25,
 228.55,
 227.59,
 227.13,
 226.25,
 227.15,
 221.29,
 223.78,
 222.87,
 220.2,
 223.39,
 222.42,
 228.05,
 230.79,
 230.68,
 232.27,
 231.58,
 230.71,
 230.23,
 228.85,
 229.04,
 236.06,
 235.27,
 235.52,
 233.87,
 233.02,
 232.03,
 233.46,
 232.91,
 236.9,
 236.16,
 237.77,
 235.59,
 241.0,
 239.3,
 238.53,
 238.76,
 240.35,
 239.27,
 235.45,
 234.27,
 232.66,
 236.38,
 235.32,
 233.4,
 233.17,
 234.39,
 230.5,
 233.14,
 230.66,
 228.77,
 236.07,
 235.24,
 234.92,
 235.06,
 237.69,
 236.75,
 236.93,
 241.52,
 243.31,
 249.05,
 248.71,
 249.95,
 253.28,
 259.16,
 258.87,
 257.27,
 257.49,
 255.41,
 252.13,
 252.37,
 251.17,
 252.69,
 257.34,
 256.9,
 254.73,
 256.8,
 262.23,
 263.45,
 264.86,
 262.88,
 262.24,
 261.09,
 264.92,
 266.9,
 270.54,
 269.43,
 271.01,
 271.4,
 271.96,
 272.39,
 275.8,
 276.22,
 277.22,
 274.48,
 274.02,
 259.8,
 256.0,
 256.74,
 254.63,
 253.75,
 255.69,
 257.8,
 254.74,
 256.21,
 255.25,
 251.25,
 254.74,
 257.75,
 262.63,
 257.11,
 257.62,
 257.49,
 254.05,
 248.53,
 245.51,
 249.77,
 248.71,
 253.05,
 256.12,
 255.84,
 257.24,
 256.37,
 252.95,
 256.18,
 255.44,
 257.37,
 262.31,
 263.64,
 261.5,
 259.42,
 256.98,
 260.4,
 261.06,
 262.13,
 264.11,
 262.39,
 267.37,
 273.15,
 276.14,
 279.77,
 283.73,
 284.22,
 283.8,
 283.47,
 283.35,
 290.98,
 291.9,
 291.72,
 289.23,
 296.73,
 304.51,
 307.28,
 312.38,
 310.69,
 318.38,
 309.74,
 307.69,
 316.42,
 319.49,
 322.03,
 325.05,
 337.55,
 337.57,
 333.92,
 336.96,
 339.28,
 347.04,
 353.15,
 351.25,
 355.27,
 362.46,
 370.52,
 366.1,
 346.57,
 331.65,
 315.72,
 329.94,
 320.52,
 314.51,
 316.5,
 312.61,
 323.95,
 329.93,
 338.01,
 332.7,
 336.45,
 345.78,
 348.15,
 346.15,
 340.42,
 341.74,
 348.91,
 357.27,
 357.08,
 358.85,
 349.25,
 349.33,
 346.68,
 344.64,
 334.28,
 336.34,
 338.35,
 344.5,
 348.0,
 350.01,
 355.06,
 350.02,
 350.91,
 345.39,
 342.25,
 342.32,
 328.17,
 324.3,
 315.52,
 326.27,
 323.04,
 318.81,
 326.58,
 318.51,
 307.67,
 300.09,
 299.82,
 291.88,
 274.04,
 286.96,
 282.92,
 277.71,
 274.98,
 273.86,
 281.87,
 257.69,
 247.47,
 253.15,
 250.6,
 252.22,
 258.09,
 260.32,
 258.79,
 267.04,
 265.86,
 264.56,
 254.22,
 254.25,
 251.18,
 253.65,
 242.98,
 231.86,
 236.19,
 237.46,
 235.35,
 228.28,
 222.08,
 223.63,
 216.13,
 216.46,
 206.6,
 219.7,
 219.87,
 221.28,
 218.74,
 209.73,
 219.36,
 215.78,
 216.56,
 230.05,
 225.16,
 228.87,
 221.82,
 218.82,
 220.01,
 232.62,
 232.62,
 227.33,
 235.31,
 238.17,
 233.67,
 231.86,
 234.3,
 228.5,
 225.6,
 223.2,
 227.29,
 224.55,
 269.44,
 268.63,
 277.22,
 272.97,
 271.25,
 271.76,
 275.78,
 278.96,
 286.86,
 296.24,
 290.35,
 297.15,
 292.89,
 289.21,
 291.21,
 286.3,
 292.18,
 291.21,
 287.86,
 290.21,
 289.74,
 288.47,
 289.01,
 274.72,
 274.46,
 272.04,
 280.17,
 283.84,
 291.21,
 292.61,
 287.21,
 283.37,
 285.82,
 292.86,
 283.22,
 278.66,
 276.81,
 272.33,
 276.2,
 285.47,
 286.12,
 284.45,
 280.91,
 279.82,
 272.94,
 272.33,
 270.88,
 275.22,
 264.15,
 263.77,
 262.95,
 267.1,
 263.26,
 268.23,
 271.68,
 276.99,
 270.5,
 270.02,
 266.63,
 260.55,
 257.79,
 267.53,
 266.45,
 240.42,
 234.17,
 238.32,
 244.37,
 237.57,
 245.74,
 238.32,
 241.31,
 241.11,
 236.64,
 233.7,
 231.27,
 239.69,
 242.93,
 239.32,
 ...]

In [25]:
list(pokemon)

['Pokemon', 'Type']

In [26]:
pokemon.shape

(721, 2)

In [27]:
google.ndim

1

In [28]:
pokemon.ndim

2

In [29]:
google.index

RangeIndex(start=0, stop=3012, step=1)

In [30]:
pokemon.index

RangeIndex(start=0, stop=721, step=1)

In [31]:
google.values

array([ 50.12,  54.1 ,  54.65, ..., 773.18, 771.61, 782.22])

In [32]:
pokemon.values

array([['Bulbasaur', 'Grass'],
       ['Ivysaur', 'Grass'],
       ['Venusaur', 'Grass'],
       ...,
       ['Diancie', 'Rock'],
       ['Hoopa', 'Psychic'],
       ['Volcanion', 'Fire']], dtype=object)

In [33]:
pokemon["Pokemon"].is_unique

True

In [34]:
pokemon["Type"].is_unique

False

In [35]:
max(google)

782.22

In [36]:
cars = ["Ford", "Volvo", "BMW"]

cars.append("Honda")

print(cars)

['Ford', 'Volvo', 'BMW', 'Honda']

In [37]:
cars = ["Ford", "Volvo", "BMW"]

cars.copy()

print(cars)

['Ford', 'Volvo', 'BMW']

In [38]:
class MyClass:
  x = 5

print(MyClass)

<class '__main__.MyClass'>

In [39]:
100 in pokemon

False

In [40]:
100 in pokemon.index

True

In [41]:
"Pikachu" in pokemon

False

In [42]:
pokemon = pd.read_csv("pokemon.csv",squeeze=False)

In [43]:
100 in pokemon.index

True

In [44]:
"Pikachu" in pokemon

False

In [45]:
"Pikachu" in pokemon.index

False

In [46]:
"Digimon" in pokemon.values

False

# Extract Series by Index Values

In [47]:
pokemon = pd.read_csv("pokemon.csv", index_col=["Pokemon"],squeeze=True)

In [48]:
pokemon

Pokemon
Bulbasaur        Grass
Ivysaur          Grass
Venusaur         Grass
Charmander        Fire
Charmeleon        Fire
Charizard         Fire
Squirtle         Water
Wartortle        Water
Blastoise        Water
Caterpie           Bug
Metapod            Bug
Butterfree         Bug
Weedle             Bug
Kakuna             Bug
Beedrill           Bug
Pidgey          Normal
Pidgeotto       Normal
Pidgeot         Normal
Rattata         Normal
Raticate        Normal
Spearow         Normal
Fearow          Normal
Ekans           Poison
Arbok           Poison
Pikachu       Electric
Raichu        Electric
Sandshrew       Ground
Sandslash       Ground
Nidoran         Poison
Nidorina        Poison
                ...
Clauncher        Water
Clawitzer        Water
Helioptile    Electric
Heliolisk     Electric
Tyrunt            Rock
Tyrantrum         Rock
Amaura            Rock
Aurorus           Rock
Sylveon          Fairy
Hawlucha      Fighting
Dedenne       Electric
Carbink           Rock
Goomy           Dragon
Sliggoo         Dragon
Goodra          Dragon
Klefki           Steel
Phantump         Ghost
Trevenant        Ghost
Pumpkaboo        Ghost
Gourgeist        Ghost
Bergmite           Ice
Avalugg            Ice
Noibat          Flying
Noivern         Flying
Xerneas          Fairy
Yveltal           Dark
Zygarde         Dragon
Diancie           Rock
Hoopa          Psychic
Volcanion         Fire
Name: Type, Length: 721, dtype: object

In [49]:
pokemon[[100,134]]

Pokemon
Electrode    Electric
Jolteon      Electric
Name: Type, dtype: object

In [50]:
pokemon.head(3)

Pokemon
Bulbasaur    Grass
Ivysaur      Grass
Venusaur     Grass
Name: Type, dtype: object

In [51]:
pokemon[["Bulbasaur"]]

Pokemon
Bulbasaur    Grass
Name: Type, dtype: object

In [52]:
pokemon.loc[["Bulabasar","Pikachu"]]

/home/mohan/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  """Entry point for launching an IPython kernel.

Pokemon
Bulabasar         NaN
Pikachu      Electric
Name: Type, dtype: object

In [53]:
google=pd.read_csv('google_stock_price.csv', squeeze=True)

In [54]:
google.head(5)

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: Stock Price, dtype: float64

In [55]:
google.count

<bound method Series.count of 0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
5        53.90
6        53.02
7        50.95
8        51.13
9        50.07
10       50.70
11       49.95
12       50.74
13       51.10
14       51.10
15       52.61
16       53.70
17       55.69
18       55.94
19       56.93
20       58.69
21       59.62
22       58.86
23       59.13
24       60.35
25       59.86
26       59.07
27       63.37
28       65.47
29       64.74
         ...
2982    675.22
2983    668.26
2984    680.04
2985    684.11
2986    692.10
2987    699.21
2988    694.49
2989    697.77
2990    695.36
2991    705.63
2992    715.09
2993    720.64
2994    716.98
2995    720.95
2996    719.85
2997    733.78
2998    736.96
2999    741.19
3000    738.63
3001    742.74
3002    739.77
3003    738.42
3004    741.77
3005    745.91
3006    768.79
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64>

In [56]:
len(google)

3012

In [57]:
google.mean

<bound method Series.mean of 0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
5        53.90
6        53.02
7        50.95
8        51.13
9        50.07
10       50.70
11       49.95
12       50.74
13       51.10
14       51.10
15       52.61
16       53.70
17       55.69
18       55.94
19       56.93
20       58.69
21       59.62
22       58.86
23       59.13
24       60.35
25       59.86
26       59.07
27       63.37
28       65.47
29       64.74
         ...
2982    675.22
2983    668.26
2984    680.04
2985    684.11
2986    692.10
2987    699.21
2988    694.49
2989    697.77
2990    695.36
2991    705.63
2992    715.09
2993    720.64
2994    716.98
2995    720.95
2996    719.85
2997    733.78
2998    736.96
2999    741.19
3000    738.63
3001    742.74
3002    739.77
3003    738.42
3004    741.77
3005    745.91
3006    768.79
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64>

In [58]:
google.median

<bound method Series.median of 0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
5        53.90
6        53.02
7        50.95
8        51.13
9        50.07
10       50.70
11       49.95
12       50.74
13       51.10
14       51.10
15       52.61
16       53.70
17       55.69
18       55.94
19       56.93
20       58.69
21       59.62
22       58.86
23       59.13
24       60.35
25       59.86
26       59.07
27       63.37
28       65.47
29       64.74
         ...
2982    675.22
2983    668.26
2984    680.04
2985    684.11
2986    692.10
2987    699.21
2988    694.49
2989    697.77
2990    695.36
2991    705.63
2992    715.09
2993    720.64
2994    716.98
2995    720.95
2996    719.85
2997    733.78
2998    736.96
2999    741.19
3000    738.63
3001    742.74
3002    739.77
3003    738.42
3004    741.77
3005    745.91
3006    768.79
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64>

In [59]:
google.mean

<bound method Series.mean of 0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
5        53.90
6        53.02
7        50.95
8        51.13
9        50.07
10       50.70
11       49.95
12       50.74
13       51.10
14       51.10
15       52.61
16       53.70
17       55.69
18       55.94
19       56.93
20       58.69
21       59.62
22       58.86
23       59.13
24       60.35
25       59.86
26       59.07
27       63.37
28       65.47
29       64.74
         ...
2982    675.22
2983    668.26
2984    680.04
2985    684.11
2986    692.10
2987    699.21
2988    694.49
2989    697.77
2990    695.36
2991    705.63
2992    715.09
2993    720.64
2994    716.98
2995    720.95
2996    719.85
2997    733.78
2998    736.96
2999    741.19
3000    738.63
3001    742.74
3002    739.77
3003    738.42
3004    741.77
3005    745.91
3006    768.79
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64>

In [60]:
google.mode

<bound method Series.mode of 0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
5        53.90
6        53.02
7        50.95
8        51.13
9        50.07
10       50.70
11       49.95
12       50.74
13       51.10
14       51.10
15       52.61
16       53.70
17       55.69
18       55.94
19       56.93
20       58.69
21       59.62
22       58.86
23       59.13
24       60.35
25       59.86
26       59.07
27       63.37
28       65.47
29       64.74
         ...
2982    675.22
2983    668.26
2984    680.04
2985    684.11
2986    692.10
2987    699.21
2988    694.49
2989    697.77
2990    695.36
2991    705.63
2992    715.09
2993    720.64
2994    716.98
2995    720.95
2996    719.85
2997    733.78
2998    736.96
2999    741.19
3000    738.63
3001    742.74
3002    739.77
3003    738.42
3004    741.77
3005    745.91
3006    768.79
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64>

In [61]:
google.std

<bound method Series.std of 0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
5        53.90
6        53.02
7        50.95
8        51.13
9        50.07
10       50.70
11       49.95
12       50.74
13       51.10
14       51.10
15       52.61
16       53.70
17       55.69
18       55.94
19       56.93
20       58.69
21       59.62
22       58.86
23       59.13
24       60.35
25       59.86
26       59.07
27       63.37
28       65.47
29       64.74
         ...
2982    675.22
2983    668.26
2984    680.04
2985    684.11
2986    692.10
2987    699.21
2988    694.49
2989    697.77
2990    695.36
2991    705.63
2992    715.09
2993    720.64
2994    716.98
2995    720.95
2996    719.85
2997    733.78
2998    736.96
2999    741.19
3000    738.63
3001    742.74
3002    739.77
3003    738.42
3004    741.77
3005    745.91
3006    768.79
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64>

In [62]:
google.describe

<bound method NDFrame.describe of 0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
5        53.90
6        53.02
7        50.95
8        51.13
9        50.07
10       50.70
11       49.95
12       50.74
13       51.10
14       51.10
15       52.61
16       53.70
17       55.69
18       55.94
19       56.93
20       58.69
21       59.62
22       58.86
23       59.13
24       60.35
25       59.86
26       59.07
27       63.37
28       65.47
29       64.74
         ...
2982    675.22
2983    668.26
2984    680.04
2985    684.11
2986    692.10
2987    699.21
2988    694.49
2989    697.77
2990    695.36
2991    705.63
2992    715.09
2993    720.64
2994    716.98
2995    720.95
2996    719.85
2997    733.78
2998    736.96
2999    741.19
3000    738.63
3001    742.74
3002    739.77
3003    738.42
3004    741.77
3005    745.91
3006    768.79
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64>

In [63]:
def classify_performance(number):
    if number<300:
        return"OK"
    elif number>=300 and number<600:
        return"Satisfactory"
    else:
        return"Incredible"

In [64]:
google.apply(classify_performance)

0               OK
1               OK
2               OK
3               OK
4               OK
5               OK
6               OK
7               OK
8               OK
9               OK
10              OK
11              OK
12              OK
13              OK
14              OK
15              OK
16              OK
17              OK
18              OK
19              OK
20              OK
21              OK
22              OK
23              OK
24              OK
25              OK
26              OK
27              OK
28              OK
29              OK
           ...
2982    Incredible
2983    Incredible
2984    Incredible
2985    Incredible
2986    Incredible
2987    Incredible
2988    Incredible
2989    Incredible
2990    Incredible
2991    Incredible
2992    Incredible
2993    Incredible
2994    Incredible
2995    Incredible
2996    Incredible
2997    Incredible
2998    Incredible
2999    Incredible
3000    Incredible
3001    Incredible
3002    Incredible
3003    Incredible
3004    Incredible
3005    Incredible
3006    Incredible
3007    Incredible
3008    Incredible
3009    Incredible
3010    Incredible
3011    Incredible
Name: Stock Price, Length: 3012, dtype: object

In [65]:
google.apply(lambda stock_price:stock_price + 1)

0        51.12
1        55.10
2        55.65
3        53.38
4        53.95
5        54.90
6        54.02
7        51.95
8        52.13
9        51.07
10       51.70
11       50.95
12       51.74
13       52.10
14       52.10
15       53.61
16       54.70
17       56.69
18       56.94
19       57.93
20       59.69
21       60.62
22       59.86
23       60.13
24       61.35
25       60.86
26       60.07
27       64.37
28       66.47
29       65.74
         ...
2982    676.22
2983    669.26
2984    681.04
2985    685.11
2986    693.10
2987    700.21
2988    695.49
2989    698.77
2990    696.36
2991    706.63
2992    716.09
2993    721.64
2994    717.98
2995    721.95
2996    720.85
2997    734.78
2998    737.96
2999    742.19
3000    739.63
3001    743.74
3002    740.77
3003    739.42
3004    742.77
3005    746.91
3006    769.79
3007    773.88
3008    772.07
3009    774.18
3010    772.61
3011    783.22
Name: Stock Price, Length: 3012, dtype: float64