In [2]:
1+2

3

# this is datascience

In [5]:
A = "sakshi"

In [6]:
A

'sakshi'

In [6]:
type(10.5)

float

In [7]:
type("sakshi")

str

In [8]:
type(10_1)

int

In [4]:
'sakshi_1'

'sakshi_1'

In [10]:
"sakshi_1"

'sakshi_1'

In [12]:
"sakshi_gour"

'sakshi_gour'

In [14]:
'sakshi gour'

'sakshi gour'

In [15]:
lucky = [1,2,3,4,5,6,7,8,9]

In [16]:
type(lucky)

list

In [17]:
len(lucky)

9

In [8]:
A = ["sakshi","umang",'prasant']

In [9]:
A

['sakshi', 'umang', 'prasant']

In [10]:
B=[True,False,True]

In [11]:
B

[True, False, True]

In [12]:
A

['sakshi', 'umang', 'prasant']

In [25]:
A[1]

'umang'

In [14]:
rampur ={'sakshi':10.1,'umang':20.1,'prasang':30.1}

In [15]:
type(rampur)

dict

In [32]:
6>>10

0

In [31]:
rampur['prasang']

30.1

In [16]:
rampur

{'sakshi': 10.1, 'umang': 20.1, 'prasang': 30.1}

In [33]:
6>>6

0

In [34]:
6<<6

384

In [35]:
5<<5

160

In [36]:
2<<2

8

In [37]:
3<<3

24

In [38]:
4<<4

64

In [39]:
def tiger(c):
    product= c * 3.5
    final = product + 5
    return final

In [40]:
tiger(4)

19.0

In [41]:
tiger(-20)

-65.0

In [20]:
import pandas as pd

In [21]:
A = ["sakshi","umang",'prasang']

In [22]:
pd.Series(list(A))

0     sakshi
1      umang
2    prasang
dtype: object

In [23]:
ram=[1,43,78,98,45]

In [24]:
ram

[1, 43, 78, 98, 45]

In [25]:
pd.Series(list(ram))

0     1
1    43
2    78
3    98
4    45
dtype: int64

In [28]:
webser = {
    'dog':1,
    'cat':1,
    'sparrow':2
    }

In [29]:
pd.Series(webser)

dog        1
cat        1
sparrow    2
dtype: int64

In [30]:
about_me=['anger','sweet']

In [31]:
s = pd.Series(about_me)

In [32]:
s.index

RangeIndex(start=0, stop=2, step=1)

In [33]:
s.dtype

dtype('O')

In [34]:
price=[15.12,23.56,78.9]

In [69]:
tom = pd.Series(price)

In [70]:
tom.sum()

117.58000000000001

In [71]:
tom.product()

28106.32608

In [72]:
tom.mean()

39.193333333333335