# Rank Value with rank() Method

In [5]:
import pandas as pd

In [12]:
nba=pd.read_csv("nba.csv")

In [14]:
nba.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [22]:
nba["Salary"]=nba["Salary"].fillna(0)

TypeError: 'NoneType' object is not subscriptable

In [23]:
nba=pd.read_csv("nba.csv").dropna(how="all",inplace=True)

In [24]:
nba

In [25]:
nba['Salary'].rank().head()

TypeError: 'NoneType' object is not subscriptable

In [26]:
nba['Sl']=nba['Salary'].rank(ascending=False)

TypeError: 'NoneType' object is not subscriptable

In [27]:
nba['Salary'].head()

TypeError: 'NoneType' object is not subscriptable

In [21]:
nba['Sl']=nba['Salary'].rank(ascending=False).astype("int")

TypeError: 'NoneType' object is not subscriptable